<!DOCTYPE html>

<html>
<head>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script>
	var fol = function(userID) {
		$.post('/user/follow/' + userID, 
			function() { 
				setTimeout(function() { location.reload(); }, 100);
			});
	}

	</script>
	<title>
		{% block title %}{{site_name}}{% endblock %}
	</title>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	{% include "extend_css.html" %}
</head>
<body>
	<div class="container">
		<header>
			{% include "header.html" %}
		</header>
		<div id="main" role="main">
			{% block main %}{% endblock %}
		</div>
		<footer>
			{% include "footer.html" %}
		</footer>
	</div> <!-- container -->
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>
</html>