<div class="masthead">
    <p class="muted text-right">{% if logged_in %}You are logged in as {{ user_name }}
                                 {% else %}You are not logged in. <a href="/login">log in</a>
                                           or <a href="/signup">sign up</a> now.
                                 {% endif %}</p>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="{{ navclass["home"] }}"><a href="/">Home</a></li>
          <li class="{{ navclass["tweets"] }}"><a href="/tweets">Latest Tweets</a></li>
          <li class="{{ navclass["users"] }}"><a href="/users">{{site_name}} Users</a></li>
          <li class="{{ navclass["tweet"] }}"><a href="/tweet">Write Tweet</a></li>
          <li class="{{ navclass["search"] }}"><a href="/search">Search</a></li>
          <li class="{{ navclass["contact"] }}"><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div><!-- /.navbar -->
</div>