{% if 'general' in error %}
<p class = "text-center text-error">{{error['general']}}</p>
{% endif %}

<div class="masthead">
    <p class="muted text-right">{% if User.logged_in() %}You are logged in as {{ User.current().username() }}.
                                  <a href="{{ url_for('user_profile', userid=User.current().userID()) }}">my profile</a> |
                                  <a href="{{ url_for('signout') }}">sign out</a>
                                 {% else %}You are not signed in. <a href="{{url_for('signin')}}">sign in</a>
                                           or <a href="/signup">sign up</a> now.
                                 {% endif %}</p>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="{{ navclass["home"] }}"><a href="/">Home</a></li>
          <li class="{{ navclass["tweets"] }}"><a href="/tweets">Latest Tweets</a></li>
          <li class="{{ navclass["users"] }}"><a href="/users">{{site_name}} Users</a></li>
          {% if User.logged_in() %}
            <li class="{{ navclass["newtweet"] }}"><a href="/tweets/new">Write Tweet</a></li>
          {% endif %}
          <!-- <li class="{{ navclass["hashtags"] }}"><a href="/hashtags">Hashtags</a></li>
          <li class="{{ navclass["search"] }}"><a href="/search">Search</a></li> -->
        </ul>
      </div>
    </div>
  </div><!-- /.navbar -->
</div>