{% extends "base.html" %}

{% block main %}

<!-- Jumbotron -->
<div class="jumbotron">
  <h1>{{ site_name }}</h1>
  <p class="lead">Watch out Twitter... a newer and (not) better version of you is coming to get you!</p>
  {% if User.logged_in() %}
  <a class="btn btn-large btn-success" 
      href="{{ url_for('user_profile', userid=current_user().userID()) }}">
      Welcome back, {{ User.current().username() }}!
  </a>
  {% else %}
  <a class="btn btn-large btn-success" href="/signup">Join Now!</a>
  {% endif %}
</div>

<hr>

<!-- Example row of columns -->
<div class="row-fluid">
  <div class="span6">
    <h2>Recent tweets</h2>
    <table class="table">
      <tr>
        <th>User</th><th>Content</th>
      </tr>
      {% for tweet in Tweet.get(10) %}
        <tr>
          <td>{{ tweet.username() }}</td>
          <td>{{ tweet.vals['content']|safe }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="span4">
    <h2>Recent users</h2>
    <table class="table">
      <tr>
        <th>User</th><th>Join date</th>
      </tr>
      {% for user in User.get(10) %}
        <tr>
          <td>{{ user.username() }}</td>
          <td>{{ user.vals['memberSince'] }}</td>
        </tr>
      {% endfor %}
    </table>
 </div>

{% endblock %}