{% extends "base.html" %}

{% block main %}

<h2>Latest Tweets</h2>
<table class="table">
	<tr>
		<th>User</th><th>Time</th><th>Content</th>
	</tr>
{% for tweet in Tweet.get() %}
  <tr>
    <td>{{ tweet.username() }}</td>
    <td>{{ tweet.vals['dateTime'] }}</td>
    <td>{{ tweet.vals['content']|safe }}</td>
    <td>
    	{% if tweet.has_poll() %}
    	{% with poll=tweet.poll() %}
    	{% include "poll_mini.html" %}
    	{% endwith %}
    	{% endif %}
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}