{% extends "base.html" %}

{% block main %}

<h2>TwitPoll users</h2>
<table class="table">
  <tr>
    <th>Username</th>
    <th>email</th>
  </tr>
{% for user in User.all() %}
	<tr>
	  <td><a href="/users/{{user.userID()}}">{{ user.username() }}</a></td>
	  <td>{{ user.email() }}</td>
	  {% if User.logged_in() %}
	  <td>
  		{% if User.current().userID() != user.userID() %}
  			<form action="/user/follow/{{user.userID()}}" method="post">
					<input type="submit" class="btn" 
						value="Click here to {{"unfollow" if User.current().is_following(user.userID()) else "follow"}} {{user.username()}}">
				</form>
			{% endif %}
		</td>
		{% endif %}
	</tr>
{% endfor %}
</table>

{% endblock %}